# Supabase Configuration
SUPABASE_URL=https://pdsyjsrngpezncrglfuu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkc3lqc3JuZ3Blem5jcmdsZnV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4Mjc3MDAsImV4cCI6MjEwMDQwMzcwMH0.cKKep62FYqFX8vy65IxkhB8nCry5rYnWVAO--dk_FT8

# App Configuration
NODE_ENV=production